* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background: #EEF5F9;
  padding: 20px;
}
.grid {
  display: grid;
}
.section-one {
  margin: 20px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5%;
}
.section-one .item {
  padding: 25px 15px;
  background: #fff;
  text-align: center;
  color: red;
  border-radius: 5px;
  -webkit-box-shadow: -1px 4px 5px -5px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 4px 5px -5px rgba(0, 0, 0, 0.75);
}
.section-one .item .wrapper {
  grid-template-columns: 30% 65%;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5%;
}
.section-one .item .wrapper .img {
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #aeaeae;
}
.section-one .item .wrapper p,
.section-one .item .wrapper span {
  font-size: 19px;
}
.section-two {
  margin: 20px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 5%;
}
.section-two .item_two {
  padding: 20px;
  background-color: #fff;
}
.section-two .item_two .wrapper {
  grid-template-columns: 1fr 1fr;
}
.section-two .item_two .wrapper .title {
  text-align: left;
}
.section-two .item_two .wrapper .title p {
  font-size: 18px;
}
.section-two .item_two .wrapper .title span {
  color: #BFA5B4;
}
.section-two .item_two .wrapper .dropdown {
  text-align: right;
}
.section-two .item_two .wrapper .dropdown select {
  margin: 10px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #aeaeae;
}
.section-two .item_two .wrapper .dropdown select:focus {
  outline: none;
}
.section-two .item_two .wrapper .dropdown select option {
  padding: 10px;
  border: none;
}
.section-two .item_two .wrapper .dropdown select option:focus {
  outline: none;
}
.section-two .item_two .wrapper .dropdown select option:active {
  outline: none;
}
.section-two .item_two .statistic {
  margin: 0 auto;
  width: 90%;
  height: 300px;
  background-color: #aeaeae;
}
.section-two .item_two:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.section-two .item_two:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
}
.section-two .item_two:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 4;
}
.section-two .item_two:nth-child(4) {
  grid-column-start: 4;
  grid-column-end: 5;
}
.section-three {
  margin: 20px 0;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
}
.section-three div {
  border: 4px solid yellow;
}
.section-four {
  margin: 20px 0;
  grid-template-columns: 60% 30%;
  grid-gap: 5%;
}
.section-four div {
  border: 4px solid green;
}
.section-five {
  margin: 20px 0;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
}
.section-five div {
  border: 4px solid blue;
}
